In [1]:
import pandas as pd

In [2]:
## Philadelphia metro counties and populations
county_names = pd.Series(
    [
        "Bucks",
        "Chester",
        "Delaware",
        "Montgomery",
        "Philadelphia",
        "Burlington",
        "Camden",
        "Gloucester",
    ]
)

population = pd.Series(
    [
        645054.0,
        545823.0,
        575182.0,
        864683.0,
        1567258.0,
        466103.0,
        524907.0,
        306601.0,
    ]
)

In [3]:
county_df = pd.DataFrame({"County Name": county_names, "Population": population})

county_df

    County Name  Population
0         Bucks    645054.0
1       Chester    545823.0
2      Delaware    575182.0
3    Montgomery    864683.0
4  Philadelphia   1567258.0
5    Burlington    466103.0
6        Camden    524907.0
7    Gloucester    306601.0

In [4]:
# Access columns with a dict-like syntax
county_df["Population"]

0     645054.0
1     545823.0
2     575182.0
3     864683.0
4    1567258.0
5     466103.0
6     524907.0
7     306601.0
Name: Population, dtype: float64

In [5]:
county_df["Population"].median()

560502.5

In [ ]:
# Define our function
def get_large_counties(population):
    return population > 1e6


large_county_sel = county_df["Population"].apply(get_large_counties)